<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}"> <!-- 引用你创建的CSS文件 -->
  </head>

  <body class="custom-body">
    <div class="site-container">
      <header class="site-header custom-header">
        {% include header.html %}
      </header>
      
      <div class="site-body wrapper custom-wrapper">
        <aside class="site-sidebar custom-sidebar" id="site-sidebar">
          {% if page.toc %}
            {% include sidebar-toc.html %}
          {% else %}
            {% include sidebar.html %}
          {% endif %}
        </aside>
        <main class="site-main custom-main" id="site-main" aria-label="Content" tabindex="1">
          {{ content }}
          <footer class="site-footer custom-footer">
            {% include footer.html %}
          </footer>
        </main>
      </div>
    </div>
  </body>

</html>
